{{<layout}}

{{$pageTitle}}
Become a childminder
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="column-two-thirds">
	<h1 class="heading-xlarge">Become a childminder</h1>

	<p class="heading-medium">If you’re looking after one or more children under the age of 8 years that you are not related to, on domestic premises, for reward, and for a total of more than two hours in any day you must register as a childminder.</p>

	<p>Becoming a registered childminder will help prepare you for childminding and you ensure that you provide a good standard of care for children.</p>

	<a href="/questions/number-of-children"><button class="button">Start now</button></a>

	<h2 class="heading-small">What’s involved?</h2>
	<p>Provide a caring, safe environment for a child </p>

	<p>	There are certain things you’ll need to do to make sure you’re home is safe. These will include installing stair gates, fire guards, plug socket covers etc, etc. See the full list of things you’ll need to do.</p>

	<ul class="list-bullet">
	<li>You’ll have a visit from an Ofsted inspector during your registration to advise you on home safety.</li>

	<li>Show that the child is developing and meeting educational goals </li>

	<li>You will be responsible for the child’s development and will need to keep daily records of progress that the child is making to share with the parents and Ofsted.</li>

	<li>You’ll receive more advice on how to do this throughout the process of becoming a childminder</li>
</ul>


	<h2 class="heading-small">How long will it take?</h2>

	<p>Registering usually takes up to: </p>
		<ul class="list-bullet">
			<li>12 weeks for childminders and home childcarers </li>
			<li>25 weeks for a childcare providers on domestic or non-domestic premises</li>

		</ul>

	<h2 class="heading-small">How much will it cost?</h2>

	<p>The cost can vary depending on where you live but here is a rough guide of what to expect</p>

<ul class="list-bullet">
	<li>Criminal record check: £30 to £60</li>
	<li>Childcare course: £80 to £100</li>
	<li>Health declaration: £20 to £100</li>
	<li>Insurance: £50 to £100</li>
	<li>Registration fee: £35 to £100</li>
</ul>

	<h2 class="heading-small">You can't register to be a childminder if</h2>

	<ul class="list-bullet">

	<li>	You are under 18  </li>
 	<li>	You don't have the right to work in the UK </li>
	<li>You have a criminal record </li>
</ul>

	<h2 class="heading-small">You can get an unlimited fine or be sent to prison or both if you provide childminding or day care services without being registered. </h2>








</div>

</main>
</div>
{{/content}}

{{/layout}}
