{% extends "layout.html" %}

{% block page_title %}
  Design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">Licensing and permission</h1>
	<!-- feel free to change this page to suit your needs -->


	<h2 class="heading-large">Start pages</h2>

	<ul>
	<!--	<li>
		General information /	<a href="/look-after-children">Look after other people's children</a>
	</li> -->
		<li>
		Context specific /	<a href="/start-page">Become a childminder</a>
		</li>
	<!--	<li>
		Specific register /	<a href="/early-years-register">Early years register</a>
	</li> -->
	</ul>

	<h2 class="heading-large">What do I need to do?</h2>
	<ol class="list list-number">

			<li><a href="/number-of-children">How many children will you provide care for?</a>
		</li>
		<li>
			<a href="/domestic-premises">Will you care for the child or children on domestic premises?</a>
		</li>
		<li>
			<a href="/related-to-child">Are you related to the child or children?</a>
		</li>
		<li>
			<a href="/child-dob">What is age group of the child or children?</a>
		</li>
		<li>
			<a href="/will-you-be-paid">Will you be paid?</a>
		</li>
		<li>
			<a href="/care-time-more-than">Will you look after the child for more than two hours per day?</a>
		</li>

		<!--
		<li>
			<a href="/home-ed">Are you providing a home education?</a>
		</li>
		<li>
			<a href="/extra-curr">Do you provide extracurricular activities?</a>
		</li>
		<li>
			<a href="/caring-time">How many hours per day approximately will you care for the child?</a>
		</li>
		<li>
			<a href="/care-time-period">Do you provide care between 6pm and 2am on domestic premises?</a>
		</li>
		<li>
			<a href="/care-day-period">Do you provide care for under 14 days in a year?</a>
		</li>
	-->
	</ol>

	<h2 class="heading-large">Next steps</h2>
	<ul class="list list-bullet">
		<li>
		 Outcomes
		</li>
		<li>
			<a href="/you-dont-need-permission">Registration not required</a>
		</li>
		<li>
			<a href="/you-need-permission">Registration required – what you need to do</a>
		</li>
		<li>—</li>
		<li>
			Verify steps
		</li>
		<li>
			<a href="/verify">– Verify</a>
		</li>
		<li>
			<a href="/verify_2">– Verify step 2</a>
		</li>
		<li>
			<a href="/verify_3">– Verify step 3 (sign in)</a>
		</li>
		<li>
			<a href="/verify_3">– Verify step 3 (security code)</a>
		</li>
		<li>
			<a href="/verify_processing">– Verify is processing ... </a>
		</li>
		<li>
			<a href="/verify_logged_in">Logged into Verify</a>
		</li>
	</ul>


<!--
	<h2 class="heading-large">Apply to be a childminder</h2>
	<ul>
		<li>
			<a href="/apply-childminder">[...]</a>
		</li>

	</ul>
-->


</main>

{% endblock %}
